<div class="js-callout-div c-callout-div">
    <div class="js-callout callout c-callout-div__callout" data-closable style="display: none;">
          <p class="js-callout-text c-callout-div__callout__text"></p>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
          </button>
    </div>

    <?php if (!empty($aAlert)) : ?>
        <?php foreach ($aAlert as $key => $value) : ?>

            <div class="callout c-callout-div__callout <?php echo $key; ?>" data-closable>
                  <p class="c-callout-div__callout__text"><?php echo $value; ?></p>
                  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                  </button>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
</div>


