<footer class="c-main-footer row">
    &copy; Janksa - <?php echo date("Y"); ?>
    |
    <a href="<?php echo $this->url->get('index/privacy'); ?>"
        data-category="Janksa footer"
        data-action="Link"
        data-label="index/privacy"
        class="js-tracking-click c-main-footer__link">
        <?php echo $t->_('Privacy policy'); ?>
    </a>
    |
    <a href="<?php echo $this->url->get('index/terms'); ?>"
        data-category="Janksa footer"
        data-action="Link"
        data-label="index/terms"
        class="js-tracking-click c-main-footer__link">
        <?php echo $t->_('Term of use'); ?>
    </a>

    <p class="c-main-footer__language">
        <?php
            $sLangugageUri = ltrim($_SERVER['REQUEST_URI'], '/');
            $sLangugageUri .= (strpos($sLangugageUri, '?') !== false) ? '&language=' : '?language=';
        ?>
        <?php echo $t->_('Choose your language'); ?> :
        <a href="<?php echo $this->url->get($sLangugageUri . 'fr'); ?>"
            data-category="Janksa footer"
            data-action="Link"
            data-label="#language=fr"
            class="js-tracking-click c-main-footer__link">
            Français
        </a>
        |
        <a href="<?php echo $this->url->get($sLangugageUri . 'en'); ?>"
            data-category="Janksa footer"
            data-action="Link"
            data-label="#language=en"
            class="js-tracking-click c-main-footer__link">
            English
        </a>
    </p>
</footer>
