<header class="c-main-header">
    <div class="c-main-header_bar">
        <button data-category="Janksa header"
            data-action="Click"
            data-label="Open menu"
            class="js-tracking-click js-open-menu c-main-header__bar__element c-main-header__menu">
            <i class="fa fa-bars c-main-header__bar__element__icon js-open-menu-bars" aria-hidden="true"></i>
            <i class="fa fa-times c-main-header__bar__element__icon js-open-menu-times" aria-hidden="true" style="display: none;"></i>
            <span class="c-main-header__bar__element__title hide-for-small-only">
                <?php echo $t->_('Home') ?>
            </span>
        </button>

        <a href="<?php echo $this->url->get(''); ?>"
            data-category="Janksa header"
            data-action="Link"
            data-label="logo"
            class="js-tracking-click c-main-header__bar__element c-main-header__logo">
            <h1 class="c-main-header__logo__title">
                Janksa <span class="hide-for-medium-only hide-for-small-only">| Together is better</span>
            </h1>
        </a>

        <button data-category="Janksa header"
            data-action="Click"
            data-label="Open account menu"
            class="js-tracking-click js-open-account-menu c-main-header__bar__element c-main-header__account">
            <span class="c-main-header__bar__element__title hide-for-small-only">
                <?php echo $t->_('Account') ?>
            </span>
            <i class="fa fa-user c-main-header__bar__element__icon" aria-hidden="true"></i>
        </button>
    </div>
</header>
