<nav class="c-main-nav-container js-menu">
    <ul class="c-main-nav js-menu-nav" style="left: -300px;">
        <li class="show-for-small-only">
            <span class="c-main-nav__catergory-title"><?php echo $t->_('Menu') ?></span>
        </li>

        <li>
            <a href="<?php echo $this->url->get(''); ?>"
                data-category="Janksa menu"
                data-action="Link"
                data-label="/"
                class="js-tracking-click c-main-nav__link row">
                <i class="fa fa-home small-2 columns c-main-nav__link__icon" aria-hidden="true"></i>
                <span class="small-10 columns">
                    <?php echo $t->_('Home') ?>
                </span>
            </a>
        </li>

        <li>
            <a href="<?php echo $this->url->get('index/projects'); ?>"
                data-category="Janksa menu"
                data-action="Link"
                data-label="index/projects"
                class="js-tracking-click c-main-nav__link row">
                <i class="fa fa-search small-2 columns c-main-nav__link__icon" aria-hidden="true"></i>
                <span class="small-10 columns">
                    <?php echo $t->_('Projects') ?>
                </span>
            </a>
        </li>

        <li>
            <a href="<?php echo $this->url->get('index/articles'); ?>"
                data-category="Janksa menu"
                data-action="Link"
                data-label="index/articles"
                class="js-tracking-click c-main-nav__link row">
                <i class="fa fa-book small-2 columns c-main-nav__link__icon" aria-hidden="true"></i>
                <span class="small-10 columns">
                    <?php echo $t->_('Articles') ?>
                </span>
            </a>
        </li>
    </ul>
    <div data-category="Janksa menu"
        data-action="Click"
        data-label="Close menu"
        class="js-tracking-click c-main-nav__empty js-close-menu">
    </div>
</nav>

<nav class="c-main-nav-container js-account-menu">
    <div data-category="Janksa menu"
        data-action="Click"
        data-label="Close menu"
        class="js-tracking-click c-account-main-nav__empty js-close-account-menu">
    </div>
    <ul class="c-main-nav js-account-menu-nav" style="right: -300px;">
        <li class="show-for-small-only">
            <span class="c-main-nav__catergory-title">
                <?php echo $t->_('Account') ?>
            </span>
        </li>
        <div style="<?php echo ($this->session->has('member_id')) ? 'display: none;' : ''; ?>" class="js-member-offline">
            <li>
                <button type="button"
                    data-category="Janksa menu"
                    data-action="Click"
                    data-label="Signup button"
                    class="js-tracking-click c-main-nav__link js-button-sign">
                    <i class="fa fa-sign-in small-2 columns c-main-nav__link__icon" aria-hidden="true"></i>
                    <span>
                        <?php echo $t->_('Signup / Signin') ?>
                    </span>
                </button>
            </li>
        </div>
        <div style="<?php echo ($this->session->has('member_id')) ? '' : 'display: none;'; ?>" class="js-member-online">
            <li>
                <a href="<?php echo $this->url->get('messages/index'); ?>"
                    data-category="Janksa menu"
                    data-action="Link"
                    data-label="messages/index"
                    class="js-tracking-click c-main-nav__link row">
                    <i class="fa fa-envelope-o small-2 columns c-main-nav__link__icon" aria-hidden="true"></i>
                    <span class="small-10 columns">
                        <?php echo $t->_('Inbox'); ?>
                    </span>
                </a>
                <a href="<?php echo $this->url->get('members/logout'); ?>"
                    data-category="Janksa menu"
                    data-action="Link"
                    data-label="members/logout"
                    class="js-tracking-click c-main-nav__link row">
                    <i class="fa fa-sign-out small-2 columns c-main-nav__link__icon" aria-hidden="true"></i>
                    <span class="small-10 columns">
                        <?php echo $t->_('Logout'); ?>
                    </span>
                </a>
            </li>
        </div>
    </ul>
</nav>

<div class="o-popin c-popin-sign reveal js-popin-sign" id="signPopup" data-reveal=""></div>
