<section>
    <h2 class="o-page-title"> <?php echo $t->_('Discover all our articles'); ?> </h2>

    <?php if (!empty($aArticles)) : ?>
    <div class="row">
    <?php for ($i = 0, $c = count($aArticles); $i < $c; $i++) : ?>
        <article class="c-article small-12 medium-6 large-4 columns ">

            <a class="js-tracking-click"
                data-category="Janksa articles index"
                data-action="Link"
                data-label="articles"
                href="<?php echo $this->url->get('articles?id=' . $aArticles[$i]['id']); ?>">
                <header class="c-article__header">
                    <?php if (!empty($aArticles[$i]['picture'])) : ?>

                        <?php
                            echo $this->janksa_tools->getImageTag(
                                $aArticles[$i]['picture'],
                                array('w' => 500, 'h' => 200, 'fit' => 'crop', 'auto' => 'format'),
                                array(
                                    'class' => 'c-article__header__image',
                                    'alt' => $t->_('Main article picture')
                                )
                            );
                        ?>

                    <?php endif; ?>
                    <h1 class="c-article__header__title">
                        <?php echo $aArticles[$i]['name']; ?>
                    </h1>
                </header>
            </a>
        </article>
    <?php endfor; ?>
    </div>
    <?php endif; ?>

    <div style="text-align: center; margin-bottom: 25px;">
        <?php if ($this->session->has('member_id') && $this->session->get('member_type') == 'admin') : ?>
        <div class="small-12 columns">
            <a href="<?php echo $this->url->get('articles/create'); ?>"
                data-category="Janksa articles index"
                data-action="Link"
                data-label="articles/create"
                class="js-tracking-click o-button">
                <?php echo $t->_('Publish a new article') ?>
            </a>
        </div>
        <?php endif; ?>
    </div>
</section>


