<div class="c-index-header"
    style="background:url(<?php echo $this->janksa_tools->getImageUrl('front/header2.jpeg',array('w' => 1000, 'auto' => 'format'));?>) 0 0 no-repeat; background-size: cover;"
>
    <div class="c-index-header__background">
    </div>
    <div class="c-index-header__text">
        <h3 class="c-index-header__title">
            <?php echo $t->_('Together,  let\'s  participate in the innovations of tomorrow'); ?>
        </h3>

        <div class="c-index-header__link-container">
            <a href="<?php echo $this->url->get('index/projects'); ?>"
                data-category="Janksa index"
                data-action="Link"
                data-label="index/projects"
                class="js-tracking-click c-index-header__link">
                <?php echo $t->_('Discover the projects') ?>
            </a>

            <a href="<?php echo $this->url->get('projects/create'); ?>"
                data-category="Janksa index"
                data-action="Link"
                data-label="projects/create"
                class="js-tracking-click c-index-header__link">
                <?php echo $t->_('Create a project') ?>
            </a>
        </div>
    </div>
</div>

<style>
    .c-main-footer {
        display: none;
    }
    .c-main-content {
        margin-top: 0px;
    }
</style>
