<section>
    <h2 class="o-page-title"> <?php echo $t->_('Discover all the projects'); ?> </h2>

    <?php if (!empty($aProjects)) : ?>
    <div class="row">
    <?php for ($i = 0, $c = count($aProjects); $i < $c; $i++) : ?>
        <article class="c-project small-12 medium-6 large-4 columns ">

            <a class="js-tracking-click c-project__link"
                data-category="Janksa projects index"
                data-action="Link"
                data-label="projects"
                href="<?php echo $this->url->get('projects?id=' . $aProjects[$i]['id']); ?>">
                <header class="c-project__header">
                    <?php if (!empty($aProjects[$i]['picture'])) : ?>

                        <?php
                            echo $this->janksa_tools->getImageTag(
                                $aProjects[$i]['picture'],
                                array('w' => 500, 'h' => 200, 'fit' => 'crop', 'auto' => 'format'
                                ),
                                array(
                                    'class' => 'c-project__header__image',
                                    'alt' => $t->_('Main project picture')
                                )
                            );
                        ?>

                    <?php endif; ?>
                    <h1 class="c-project__header__title">
                        <?php echo $aProjects[$i]['name']; ?>
                    </h1>
                </header>
            </a>
        </article>
    <?php endfor; ?>
    </div>
    <?php endif; ?>

    <div style="text-align: center; margin-bottom: 25px;">
        <p><?php echo $t->_('Do you have an incredible poject ? Publish it now !') ?></p>
        <a href="<?php echo $this->url->get('projects/create'); ?>"
            data-category="Janksa projects index"
            data-action="Link"
            data-label="projects/create"
            class="js-tracking-click o-button">
            <?php echo $t->_('Publish it') ?>
        </a>
    </div>
</section>


