<h3>Article 1. Informations légales</h3>
<p>En vertu de l’article 6 de la Loi N°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé dans cet article l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>

<p>Le site janksa.com est édité par :</p>

<p>Alexandre Givern, domicilié à l’adresse suivante : 13 Rue Leon Giraud, 75019 Paris.</p>

<p>Le site janksa.com est hébergé par OVH, dont le siège est situé 2 rue Kellerman, Roubaix, 59100, France.</p>

<h3>Article 2. Présentation du site</h3>
<p>Le site janksa.com est une plateforme qiu regroupe des projets divers et variés. Cese projets peuvent ainsi poster des fiches de recrutements et décrire leur projet au grand public. Il sera amené a permettre la pré-vente et l'envoi de dons par les visiteurs.</p>

<h3>Article 3. Contact</h3>
<p>Pour toute question ou demande d’information concernant le site, ou tout signalement de contenu ou d’activités illicites, l’utilisateur peut contacter l’éditeur à l’adresse e-mail suivante : contact@janksa.com.</p>

<h3>Article 4. Acceptation des conditions d’utilisation</h3>
<p>L’accès et l’utilisation du site sont soumis à l’acceptation du respect des présentes conditions générales d’utilisation.</p>

<p>L’éditeur se réserve le droit de modifier à tout moment et sans préavis le site et des services ainsi que les présentes conditions générales d’utilisation, notamment pour s’adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou modification de fonctionnalités existantes.</p>

<p>Il est donc conseillé à l’utilisateur de se référer avant toute navigation à la dernière version des conditions générales d’utilisation, accessible à tout moment sur le site. En cas de désaccord avec les conditions générales d’utilisation, aucun usage du site ne saurait être effectué par l’utilisateur.</p>


<h3>Articles 5. Accès à la navigation</h3>
<p>L’éditeur met en œuvre les solutions techniques à sa disposition pour permettre l’accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l’accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jour, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.</p>

<p>La connexion et la navigation sur le site janksa.com valent acceptation sans réserve des présentes conditions générales d’utilisation, quelques soient les moyens techniques d’accès et les terminaux utilisés.</p>

<p>Les présentes conditions générales d’utilisation s’appliquent à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaires existants ou à venir.</p>



<h3>Article 6. Gestion du site</h3>
<p>Pour la bonne gestion du site, l’éditeur pourra à tout moment :</p>

<ul>
<li>Suspendre, interrompre ou limiter l’accès à tout le site ou une partie du site, réserver l’accès au site, ou à certaines parties du site à une catégorie déterminée d’internautes,</li>
<li>Supprimer toute information pouvant en perturber le fonctionnement ou entrant en convention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette,</li>
<li>Suspendre le site afin de procéder à des mises à jour.</li>
</ul>

<h3>Article 7. Services réservés aux utilisateurs inscrits</h3>
<h4>7.1. Inscription</h4>
<p>L’accès à certains services est conditionné par l’inscription de l’utilisateur.</p>

<p>L’inscription et l’accès aux services du sont réservés exclusivement aux personnes physiques et capables juridiquement, ayant rempli et validé le formulaire d’inscription disponible sur le site janksa.com, ainsi que les présentes conditions générales d’utilisation.</p>

<p>Lors de son inscription, l’utilisateur s’engage à fournir des informations exactes, sincères et à jour sur sa personne et son état civil. L’utilisateur devra en outre procéder à une vérification régulière des données le concernant afin d’en conserver l’exactitude.</p>

<p>L’utilisateur doit ainsi fournir impérativement une adresse e-mail valide, sur laquelle le site lui adressera une confirmation de son inscription à ses services. Une adresse de messagerie électronique ne peut être utilisée plusieurs fois pour s’inscrire aux services.</p>

<p>Toute communication réalisée par janksa.com et ses partenaires est en conséquence réputée avoir été réceptionnée et lue par l’utilisateur. Ce dernier s’engage donc à consulter régulièrement les messages reçus à cette adresse e-mail et à répondre dans un délai raisonnable si nécessaire.</p>

<p>Une seule inscription aux services du site est admise par personne physique.</p>

<p>L’utilisateur se voit attribuer un identifiant lui permettant d’accéder à un espace dont l’accès lui est réservé (ci-après "Espace personnel"), en complément de la saisie de son mot de passe.</p>

<p>L’identifiant est définitif, en revanche le mot de passe est modifiable en ligne par l’utilisateur dans son espace personnel. Le mot de passe est personnel et confidentiel, l’utilisateur s’engage ainsi à ne pas le communiquer à des tiers.</p>

<p>janksa se réserve en tout état de cause la possibilité de refuser une demande d’inscription aux services en cas de non-respect par l’utilisateur des dispositions des présentes conditions générales d’utilisation.</p>

<p>L’utilisateur ne doit pas utiliser janksa à dessein de prosélytisme en publiant du contenu à caractère illicite, violent, polémique, pornographique, xénophobe et pouvant porter atteinte à la sensibilité d’autrui.</p>

<h4>7.2 Désinscription</h4>
<p>L’utilisateur régulièrement inscrit pourra à tout moment demander sa désinscription en envoyant une a contact@janksa.com.</p>



<h3>Article 8. Responsabilités</h3>
<p>L’éditeur n’est responsable que du contenu qu’il a lui-même édité.</p>

<p>L’éditeur n’est pas responsable :</p>

<ul>
    <li>En cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu’il soit,</li>
    <li>Des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l’utilisation ou des difficultés d’utilisation du site ou de ses services,</li>
    <li>Des caractéristiques intrinsèques de l’Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant,</li>
    <li>Des contenus ou activités illicites utilisant son site et ce, sans qu’il en ait pris dûment connaissance au sens de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique et la Loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard de traitement de données à caractère personnel,</li>
    <li>Du contenu à caractère illicite, violent, polémique, pornographique, xénophobe et pouvant porter atteinte à la sensibilité d’autrui.</li>
    <li>Par ailleurs, le site ne saurait garantir l’exactitude, la complétude, et l’actualité des informations qui y sont diffusées.</li>
</ul>

<p>L’utilisateur est responsable :</p>

<ul>
    <li>De la protection de son matériel et de ses données,</li>
    <li>De l’utilisation qu’il fait du site ou de ses services,</li>
    <li>S’il ne respecte ni la lettre, ni l’esprit des présentes conditions générales d’utilisation.</li>
</ul>

<h3>Article 9. Liens hypertextes</h3>
<p>Le site peut contenir des liens hypertextes pointant vers d’autres sites internet sur lesquels janksa n’exerce pas de contrôle. Malgré les vérifications préalables et régulières réalisés par l’éditeur, celui-ci décline toute responsabilité quant aux contenus qu’il est possible de trouver sur ces sites.</p>

<p>L’éditeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.</p>

<p>En outre, l’information préalable de l’éditeur du site est nécessaire avant toute mise en place de lien hypertexte.</p>

<p>Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.</p>

<p>Enfin, janksa se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site, si le site l’estime non conforme à sa politique éditoriale.</p>

<h3>Article 10. Collecte des données</h3>
<p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.</p>

<h3>Article 11. Cookies</h3>
<p>Le site a éventuellement recours aux techniques de cookies lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d’améliorer le service pour le confort de l’utilisateur, lequel peut s’opposer à l’enregistrement de ces cookies en configurant son logiciel de navigation.</p>

<h3>Article 12. Propriété intellectuelle</h3>
<p>La structuration du site mais aussi les textes, graphiques, photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l’éditeur et sont protégés comme tels par les lois en vigueur au titre de la propriété intellectuelle.</p>

<p>Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le site, par quelque procédé que ce soit, sans l’autorisation préalable, expresse et écrite de l’éditeur, est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L.335-2 et suivants du Code de la propriété intellectuelle. Et ce, à l’exception des éléments expressément désignés comme libres de droits sur le site.</p>

<p>L’accès au site ne vaut pas reconnaissance d’un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l’éditeur.</p>

<p>Il est interdit à l’utilisateur d’introduire des données sur le site qui modifieraient ou qui seraient susceptibles d’en modifier le contenu ou l’apparence.</p>

<h3>Article 13. Loi applicable et juridiction compétente</h3>
<p>Les présentes Conditions Générales d'Utilisation sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.</p>


<p>Version mise à jour le 1er novembre 2017.</p>

