/******************************************************************************/
/* HEADER */
/******************************************************************************/

.c-main-header {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: rgba(62, 113, 153, 0.9);
    z-index: 102;
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
}

.c-main-header_bar {
    position: relative;
    text-align: center;
}

.c-main-header__bar__element {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    color: white;
}

.c-main-header__bar__element__icon {
    width: 50px;
}

.c-main-header__bar__element__title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.c-main-header__menu {
    position: absolute;
    left: 0;
}

.c-main-header__logo,
.c-main-header__logo:hover,
.c-main-header__logo:focus,
.c-main-header__logo:visited {
    margin: auto;
    color: white;
}

.c-main-header__logo__title {
    font-size: 20px;
    margin: 0;
}

.c-main-header__account {
    position: absolute;
    right: 0;
}

/******************************************************************************/
/* NAV */
/******************************************************************************/

.c-main-nav-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.0);
    -webkit-transition: background-color 0.5s, z-index 0.5s;
    transition: background-color 0.5s, z-index 0.5s;
}

.c-main-nav {
    position: absolute;
    top: 40px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: rgba(62, 113, 153, 0.9);
    width: 300px;
    margin: 0;
    overflow: hidden;
    -webkit-transition: left 0.5s, right 0.5s;
    transition: left 0.5s, right 0.5s;
    display: inline-block;
    color: white;
}

.c-main-nav__catergory-title {
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.c-main-nav__link {
    display: block;
    overflow: hidden;
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    text-align: left;
    cursor: pointer;
    color: white;
}

.c-main-nav__link:focus,
.c-main-nav__link:visited {
    color: white;
}

.c-main-nav__link:hover {
    color: #f39539;
}

.c-main-nav__link__icon {
    line-height: 26px !important;
}

.c-main-nav__empty {
    position: absolute;
    top: 40px;
    left: 300px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.c-account-main-nav__empty {
    position: absolute;
    top: 40px;
    right: 300px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

/******************************************************************************/

.c-up {
    background-color: #3e7199;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 3px 3px;
    display: none;
    cursor: pointer;
}

.c-main-content {
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
    padding: 0 20px;
}

/******************************************************************************/
/* POPIN */
/******************************************************************************/

.c-popin-sign
{
    background: #FFF;
}

/******************************************************************************/
/* CALLOUT */
/******************************************************************************/

.c-callout-div {
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 1006;
}

.c-callout-div__callout {
    width: 95%;
    margin: 0 auto 10px auto;
}

.c-callout-div__callout__text {
    margin: 0;
}

/******************************************************************************/
/* INDEX */
/******************************************************************************/

.c-index-header {
    text-align: center;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.c-index-header__background {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}

.c-index-header__text {
    position: relative;
    z-index: 3;
    height: 100%;
}

.c-index-header__title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5em;
}

.c-index-header__link-container {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 100px;
}

.c-index-header__link {
    background-color: #f39539;
    color: white;
    border-radius: 3px 3px;
    font-size: 22px;
    max-width: 250px;
    width: 100%;
    display: inline-block;
    margin: 50px 25px 0px;
}

.c-index-header__link:hover,
.c-index-header__link:focus,
.c-index-header__link:visited {
    color: white;
}

/******************************************************************************/
/* PROJECT */
/******************************************************************************/

.c-project {
    margin-bottom: 75px;
}

.c-project__link {
    display: block;
    border: 1px solid #f3f4f5;
}

.c-project__link:hover {
    border-color: #f39539;
}

.c-project__header {
    text-align: center;
    text-align: -webkit-center;
    position: relative;
}

.c-project__header__image {
    display: block;
}

.c-project__header__title {
    font-size: 21px;
    text-align: center;
    margin: 0;
    padding: 0 10px;
    color: black;
    line-height: 24px;
}

/******************************************************************************/
/* PROJECT VIEW */
/******************************************************************************/

.c-project-view-header {

}

.c-project-view-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 0;
}

.c-project-view-nav li {
    display: inline-block;
    border-right: solid 1px grey;
    font-size: 1rem;
}

.c-project-view-nav li:last-child  {
    border: none;
}

.c-project-view-nav__button {
    line-height: 25px;
    height: 25px;
    padding: 0 18px;
    cursor: pointer;
    outline: none;
    display: block;
    color: grey;
}

.c-project-view-nav__button--active {
    color: black;
}

.c-project-view-header__image {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.c-project-view-comments {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.c-project-view-comments:nth-child(2n) {
    background-color: #f3f4f5;
}

.c-project-view-comments__user {
    text-align: center;
}


/******************************************************************************/
/* PROJECT */
/******************************************************************************/

.c-article {
    margin-bottom: 75px;
}

.c-article__header {
    text-align: center;
    text-align: -webkit-center;
    position: relative;
}

.c-article__header__image {
    display: block;
}

.c-article__header__title {
    bottom: -10px;
    font-size: 21px;
    text-align: center;
    position: absolute;
    right: 20px;
    left: 20px;
    margin: 0;
    background: #f3f4f5;
    padding: 0 10px;
    color: black;
    line-height: 24px;
    box-shadow: 0px 0px 5px 0px black;
}

/******************************************************************************/
/* ARTICLE VIEW */
/******************************************************************************/

.c-article-view-header {

}

.c-article-view-header__image {
    width: 100%;
    height: auto;
}

.c-article-view-body {
    margin-top: 50px;
}

/******************************************************************************/
/* FOOTER */
/******************************************************************************/

.c-main-footer {
    background: #3e7199;;
    height: 250px;
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    color: white;
}

.c-main-footer__link,
.c-main-footer__link:focus,
.c-main-footer__link:visited {
    color: white;
}

.c-main-footer__link:hover {
    color: #f39539;
}

.c-main-footer__language {
    font-size: 12px;
    margin-top: 50px;
}
