body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

button, input, optgroup, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:visited {
    color: black;
}

button:focus {
    outline: none;
}

li {
    display: block;
}

.toolbar-fixed-box {
    top: 40px !important;
}
