.o-page-title {
    font-size: 30px;
    margin: 2rem 0;
    text-align: center;
    margin: 0 0 50px;
}

.o-popin {
    position: relative;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
}

.o-line-separator {
    height: 1px;
    width: 60%;
    background: grey;
    margin: 100px auto;
}

.o-button {
    cursor: pointer;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    width: 150px;
    display: inline-block;
    text-align: center;
    background: none;
    background-color: #f39539;
    color: white;
    border-radius: 3px 3px;
    font-size: 14px;
    border: none;
}

.o-button:hover,
.o-button:focus,
.o-button:visited {
    color: white;
}

.o-button--center {
    margin: auto;
    display: block;
}
