<h2 class="o-page-title"><?php echo $t->_('Create your project'); ?></h2>

<?php if (!$this->session->has('member_id')) : ?>
<div style="<?php echo ($this->session->has('member_id')) ? 'display: none;' : ''; ?> max-width: 500px;
    margin: auto;" class="row js-member-offline">
    <h3><?php echo $t->_('Login'); ?></h3>
    <?php
        echo Phalcon\Tag::form(array(
            'data-url' =>  $this->url->get('members/login'),
            'method'=>'GET',
            'onsubmit'=>'return submitForm(\'.js-form-login\', memberLoginSuccess)',
            'class' => 'js-form-login small-12 large-8 large-offset-2 columns'
        ));
    ?>
        <input type="hidden"
            name="<?php echo $this->security->getTokenKey() ?>"
            value="<?php echo $this->security->getToken() ?>"/>

        <p>
            <?php echo $t->_('Email'); ?>
            <br />
            <?php
            echo $this->tag->textField(array(
                'email',
                'size' => 20,
                'required' => 'required'
            ));
            ?>
        </p>

        <p>
            <?php echo $t->_('Password'); ?><br />
            <?php
            echo $this->tag->passwordField(array(
                'password',
                'size' => 20,
                'required' => 'required'
            ));
            ?>
        </p>
        <?php
        echo Phalcon\Tag::submitButton(array(
            $t->_('Login'),
            'class' => 'o-button o-button--center'
        ));
        ?>

    </form>

    <h3><?php echo $t->_('Sign up using this form'); ?></h3>

    <?php echo Phalcon\Tag::form(array(
            'data-url' =>  $this->url->get('members/register'),
            'method'=>'POST',
            'onsubmit'=>'return submitForm(\'.js-form-signin\', memberLoginSuccess)',
            'class' => 'js-form-signin small-12 large-8 large-offset-2 columns'
        ));
    ?>

        <p>
            <?php echo $t->_('Email'); ?>*
            <br />
            <?php
            echo $this->tag->emailField(array(
                'email',
                'size' => 20,
                'required' => 'required'
            ));
            ?>
        </p>

        <p>
            <?php echo $t->_('Username'); ?>*
            <br />
            <?php
            echo $this->tag->textField(array(
                'username',
                'size' => 20,
                'required' => 'required'
            ));
            ?>
        </p>

        <p>
            <?php echo $t->_('Password'); ?>*
            <br />
            <?php
            echo $this->tag->passwordField(array(
                "password",
                "size" => 20,
                "required" => "required"
            ));
            ?>
        </p>

        <p>
            <?php echo $t->_('Confirm password'); ?>*
            <br />
            <?php
            echo $this->tag->passwordField(array(
                'passwordConfirmation',
                'size' => 20,
                'required' => 'required'
            ));
            ?>
        </p>

        <input type='hidden'
            name="<?php echo $this->security->getTokenKey() ?>"
            value="<?php echo $this->security->getToken() ?>"/>

        <p>
        <?php
        echo Phalcon\Tag::submitButton(array(
            $t->_('Register'),
            'class' => 'o-button o-button--center'
        ));
        ?>
        </p>

    </form>
</div>
<?php endif; ?>

<div style="<?php echo ($this->session->has('member_id')) ? '' : 'display: none;'; ?>" class="row js-member-online">
    <form class="small-12 large-8 large-offset-2 columns" method="post" action="<?php echo $this->url->get('projects/create'); ?>" enctype="multipart/form-data">
        <input type="hidden"
            name="<?php echo $this->security->getTokenKey(); ?>"
            value="<?php echo $this->security->getToken(); ?>"/>

        <p>
            <?php echo $t->_('Name'); ?><br />
            <?php
            echo $this->tag->textField(array(
                'name',
                'required' => 'required'
            ));
            ?>
        </p>

        <?php echo $t->_('Image'); ?><br />
        <?php
            echo $this->tag->fileField(array(
                'picture',
            ));
        ?>

        <p>
            <?php echo $t->_('Description'); ?><br />
            <?php
                $aParamDescription = array(
                    'description',
                    'class' => 'js-editor-project',
                    'rows' => 15,
                    'required' => 'required'
                );
                if (!empty($sSampleDescription))
                {
                    $aParamDescription['value'] = $sSampleDescription;
                }
                echo $this->tag->textArea($aParamDescription);
            ?>
        </p>

        <?php
            echo $this->tag->submitButton(array(
                $t->_('Create'),
                'class' => 'o-button o-button--center js-tracking-click',
                'data-category' => 'Janksa projects',
                'data-action' => 'Submit',
                'data-label' => 'Create'
            ));
        ?>
    </form>
</div>
