<h2 class="o-page-title"><?php echo $t->_('Edit your project'); ?></h2>

<div class="row">
    <form class="small-12 large-8 large-offset-2 columns" method="post" action="<?php echo $this->url->get('projects/edit'); ?>" enctype="multipart/form-data">
        <input type="hidden"
            name="<?php echo $this->security->getTokenKey(); ?>"
            value="<?php echo $this->security->getToken(); ?>"/>

        <input type="hidden" name="id" value="<?php echo $aProjects['id']; ?>"/>

        <p>
            <?php echo $t->_('Name'); ?><br />
            <?php
                echo $this->tag->textField(array(
                    'name',
                    'required' => 'required',
                    'value' => !empty($aProjects['name']) ? $aProjects['name'] : ''
                ));
            ?>
        </p>

        <p>
            <?php if (!empty($aProjects['picture'])) : ?>
                <?php
                    echo $this->janksa_tools->getImageTag(
                        $aProjects['picture'],
                        array('w' => 1000, 'h' => 400, 'fit' => 'crop', 'auto' => 'format'),
                        array(
                            'alt' => $t->_('Main project picture')
                        )
                    );
                ?>
                <input type="hidden"
                    name="picture"
                    value="<?php echo $aProjects['picture']; ?>"/>
            <?php endif; ?>

            <?php
                echo $this->tag->fileField(array(
                    'picture'
                ));
            ?>
        </p>

        <p>
            <?php echo $t->_('Description'); ?><br />
            <?php
                echo $this->tag->textArea(array(
                    'description',
                    'rows' => 15,
                    'required' => 'required',
                    'class' => 'js-editor-project',
                    'value' => !empty($aProjects['description']) ? $aProjects['description'] : ''
                ));
            ?>
        </p>

        <?php
            echo $this->tag->submitButton(array(
                $t->_('Edit'),
                'class' => 'o-button js-tracking-click',
                'data-category' => 'Janksa projetcs',
                'data-action' => 'Submit',
                'data-label' => 'Edit'
            ));
        ?>

    </form>
</div>
