<article class="row">
    <header class="c-project-view-header small-12 large-8 large-offset-2 columns">
        <h1 class="o-page-title"><?php echo $aProject['name']; ?></h1>

        <?php if ($this->session->has('member_id') && ($aProject['member'] == $this->session->get('member_id') || $this->session->get('member_type') == 'admin')) : ?>
            <a class="o-button js-tracking-click"
                data-category="Janksa projects"
                data-action="Link"
                data-label="projects/edit"
                href="<?php echo $this->url->get('projects/edit?id=' . $aProject['id']); ?>">
                <?php echo $t->_('Edit'); ?>
            </a>
        <?php endif; ?>

        <?php if ($this->session->has('member_id') && $aProject['member'] != $this->session->get('member_id')) : ?>
            <form method="post" action="<?php echo $this->url->get('projects/follow'); ?>" enctype="multipart/form-data">
                <input type="hidden"
                    name="<?php echo $this->security->getTokenKey(); ?>"
                    value="<?php echo $this->security->getToken(); ?>"/>

                <input type="hidden" name="project" value="<?php echo $aProject['id']; ?>"/>
                <input type="hidden" name="type" value="3"/>

                <?php if (empty($iFollowType)) : ?>
                    <input type="hidden" name="put" value="true"/>

                    <?php echo Phalcon\Tag::submitButton(array(
                        $t->_('FOLLOW') . '   ' . count($aProject['followers']),
                        'class' => 'o-button js-tracking-click',
                        'data-category' => 'Janksa projects',
                        'data-action' => 'Submit',
                        'data-label' => 'Follow'
                    )); ?>

                <?php elseif ($iFollowType == 3) : ?>
                    <?php echo Phalcon\Tag::submitButton(array(
                        $t->_('UNFOLLOW') . '   ' . count($aProject['followers']),
                        'class' => 'o-button js-tracking-click',
                        'data-category' => 'Janksa projects',
                        'data-action' => 'Submit',
                        'data-label' => 'Unfollow'
                    )); ?>

                <?php else : ?>
                    <p><?php echo $t->_('FOLLOWERS') . ' : ' . count($aProject['followers']); ?></p>
                <?php endif; ?>

            </form>
        <?php else : ?>
            <p><?php echo $t->_('FOLLOWERS') . ' : ' . count($aProject['followers']); ?></p>
        <?php endif; ?>

        <?php if (!empty($aProject['picture'])) : ?>
            <div class="c-project-view-header__image">
            <?php
                echo $this->janksa_tools->getImageTag(
                    $aProject['picture'],
                    array('w' => 1000, 'h' => 400, 'fit' => 'crop', 'auto' => 'format'),
                    array('alt' => $t->_('Main project picture'))
                );
            ?>
            </div>
        <?php endif; ?>
    </header>

    <nav class="c-project-view-nav small-12 large-8 large-offset-2 columns">
        <li>
            <button type="button"
                data-category="Janksa projects"
                data-action="Click"
                data-label="Presentation"
                class="js-tracking-click js-project-tab-button js-project-presentation-button c-project-view-nav__button">
                <span class="hide-for-small-only"><?php echo $t->_('Presentation'); ?></span>
                <i class="show-for-small-only fa fa-bars" aria-hidden="true"></i>
            </button>
        </li>

        <li>
            <button type="button"
                data-category="Janksa projects"
                data-action="Click"
                data-label="News"
                class="js-tracking-click js-project-tab-button js-project-news-button c-project-view-nav__button">
                <span class="hide-for-small-only"><?php echo $t->_('News'); ?></span>
                <i class="show-for-small-only fa fa-newspaper-o" aria-hidden="true"></i>
            </button>
        </li>

        <li>
            <button type="button"
                data-category="Janksa projects"
                data-action="Click"
                data-label="Recruitment"
                class="js-tracking-click js-project-tab-button js-project-recruitment-button c-project-view-nav__button">
                <span class="hide-for-small-only"><?php echo $t->_('Recruitment'); ?></span>
                <i class="show-for-small-only fa fa-handshake-o" aria-hidden="true"></i>
            </button>
        </li>

        <li>
            <button type="button"
                data-category="Janksa projects"
                data-action="Click"
                data-label="Comments"
                class="js-tracking-click js-project-tab-button js-project-comments-button c-project-view-nav__button">
                <span class="hide-for-small-only"><?php echo $t->_('Comments'); ?></span>
                <i class="show-for-small-only fa fa-comments-o" aria-hidden="true"></i>
            </button>
        </li>

        <li>
            <button type="button"
                data-category="Janksa projects"
                data-action="Click"
                data-label="Contact"
                class="js-tracking-click js-project-tab-button js-project-contact-button c-project-view-nav__button">
                <span class="hide-for-small-only"><?php echo $t->_('Contact'); ?></span>
                <i class="show-for-small-only fa fa-id-card-o" aria-hidden="true"></i>
            </button>
        </li>
    </nav>

    <div class="c-project-view-body small-12 large-8 large-offset-2 columns">
        <div class="js-project-tab js-project-presentation">
            <h2><?php echo $t->_('Presentation'); ?></h2>
            <p><?php echo $aProject['description']; ?></p>
        </div>

        <div class="js-project-tab js-project-news" style="display: none;">
            <h2><?php echo $t->_('News'); ?></h2>
            <?php if (!empty($aProject['news'])) : ?>

                <?php for ($i = 0, $c = count($aProject['news']); $i < $c; $i++) : ?>

                    <?php if ($this->session->has('member_id') && ($aProject['member'] == $this->session->get('member_id') || $this->session->get('member_type') == 'admin')) : ?>
                        <button type="button"
                            data-category="Janksa news"
                            data-action="Click"
                            data-label="Edit"
                            class="js-tracking-click o-button js-show-element"
                            data-element="js-news-<?php echo $aProject['news'][$i]['id']; ?>">
                            <?php echo $t->_('Edit'); ?>
                        </button>

                        <form style="display: none;" class="js-news-<?php echo $aProject['news'][$i]['id']; ?>" method="post" action="<?php echo $this->url->get('projects/edit'); ?>" enctype="multipart/form-data">
                            <input type="hidden"
                                name="<?php echo $this->security->getTokenKey(); ?>"
                                value="<?php echo $this->security->getToken(); ?>"/>

                            <input type="hidden" name="id" value="<?php echo $aProject['id']; ?>"/>
                            <input type="hidden" name="news[id]" value="<?php echo $aProject['news'][$i]['id']; ?>"/>

                            <p>
                                <?php
                                    echo $this->tag->textArea(array(
                                        'news[content]',
                                        'class' => 'js-editor-project',
                                        'rows' => 5,
                                        'required' => 'required',
                                        'value' => $aProject['news'][$i]['content']
                                    ));
                                ?>
                            </p>

                            <?php echo Phalcon\Tag::submitButton(array(
                                $t->_('Edit the news'),
                                'class' => 'o-button js-tracking-click',
                                'data-category' => 'Janksa news',
                                'data-action' => 'Submit',
                                'data-label' => 'Edit'
                            )); ?>

                        </form>
                    <?php endif; ?>

                    <div class="js-news-<?php echo $aProject['news'][$i]['id']; ?>-hide">
                        <h3><?php echo $aProject['news'][$i]['date']; ?></h3>
                        <?php echo $aProject['news'][$i]['content']; ?>
                    </div>
                <?php endfor; ?>

            <?php else : ?>

                <p><?php echo $t->_('There are no news yet'); ?></p>

            <?php endif; ?>

            <?php if ($this->session->has('member_id') && ($aProject['member'] == $this->session->get('member_id') || $this->session->get('member_type') == 'admin')) : ?>
            <form method="post" action="<?php echo $this->url->get('projects/edit'); ?>" enctype="multipart/form-data">
                <input type="hidden"
                    name="<?php echo $this->security->getTokenKey(); ?>"
                    value="<?php echo $this->security->getToken(); ?>"/>

                <input type="hidden" name="id" value="<?php echo $aProject['id']; ?>"/>

                <p>
                    <?php
                        echo $this->tag->textArea(array(
                            'news[content]',
                            'class' => 'js-editor-project',
                            'rows' => 5,
                            'required' => 'required'
                        ));
                    ?>
                </p>

                <?php echo Phalcon\Tag::submitButton(array(
                    $t->_('Post a news'),
                    'class' => 'o-button js-tracking-click',
                    'data-category' => 'Janksa projetcs',
                    'data-action' => 'Submit',
                    'data-label' => 'Create'
                )); ?>

            </form>
            <?php endif; ?>

        </div>

        <div class="js-project-tab js-project-recruitment" style="display: none;">
            <h2><?php echo $t->_('Recruitment'); ?></h2>

            <?php if (!empty($aProject['recruitments'])) :?>
                <?php for($i = 0, $c = count($aProject['recruitments']); $i < $c; $i++): ?>
                    <?php if ($this->session->has('member_id') && ($aProject['member'] == $this->session->get('member_id') || $this->session->get('member_type') == 'admin')) : ?>
                        <button type="button"
                            class="o-button js-show-element"
                            data-element="js-recruitment-<?php echo $aProject['recruitments'][$i]['id']; ?>">
                            <?php echo $t->_('Edit'); ?>
                        </button>

                        <form style="display: none;" class="js-recruitment-<?php echo $aProject['recruitments'][$i]['id']; ?>" method="post" action="<?php echo $this->url->get('projects/edit'); ?>" enctype="multipart/form-data">
                            <input type="hidden"
                                name="<?php echo $this->security->getTokenKey(); ?>"
                                value="<?php echo $this->security->getToken(); ?>"/>

                            <input type="hidden" name="id" value="<?php echo $aProject['id']; ?>"/>
                            <input type="hidden" name="recruitments[id]" value="<?php echo $aProject['recruitments'][$i]['id']; ?>"/>

                            <p>
                                <?php
                                    echo $this->tag->textArea(array(
                                        'recruitments[description]',
                                        'class' => 'js-editor-project',
                                        'rows' => 5,
                                        'required' => 'required',
                                        'value' => $aProject['recruitments'][$i]['description']
                                    ));
                                ?>
                            </p>

                            <?php echo Phalcon\Tag::submitButton(array(
                                $t->_('Edit the recruitment'),
                                'class' => 'o-button js-tracking-click',
                                'data-category' => 'Janksa recruitment',
                                'data-action' => 'Submit',
                                'data-label' => 'Edit'
                            )); ?>

                        </form>

                    <?php endif; ?>
                    <div class="js-recruitment-<?php echo $aProject['recruitments'][$i]['id']; ?>-hide">
                        <?php echo $aProject['recruitments'][$i]['description']; ?>
                    </div>
                <?php endfor; ?>
            <?php else : ?>
                <p><?php echo $t->_('There are no jobs available yet'); ?></p>
            <?php endif; ?>
            <?php if ($this->session->has('member_id') && ($aProject['member'] == $this->session->get('member_id') || $this->session->get('member_type') == 'admin')) : ?>
                <form method="post" action="<?php echo $this->url->get('projects/edit'); ?>" enctype="multipart/form-data">
                    <input type="hidden"
                        name="<?php echo $this->security->getTokenKey(); ?>"
                        value="<?php echo $this->security->getToken(); ?>"/>

                    <input type="hidden" name="id" value="<?php echo $aProject['id']; ?>"/>

                    <p>
                        <?php
                            echo $this->tag->textArea(array(
                                'recruitments[description]',
                                'class' => 'js-editor-project',
                                'rows' => 5,
                                'required' => 'required'
                            ));
                        ?>
                    </p>

                    <?php echo Phalcon\Tag::submitButton(array(
                        $t->_('Post a recruitment'),
                        'class' => 'o-button js-tracking-click',
                        'data-category' => 'Janksa recruitment',
                        'data-action' => 'Submit',
                        'data-label' => 'Create'
                    )); ?>

                </form>
            <?php endif; ?>
        </div>

        <div class="js-project-tab js-project-comments" style="display: none;">
            <h2><?php echo $t->_('Comments'); ?></h2>
            <?php if (!empty($aProject['comments'])) :?>
                <?php for($i = 0, $c = count($aProject['comments']); $i < $c; $i++): ?>
                    <div class="c-project-view-comments row">
                        <div class="c-project-view-comments__user small-4 medium-2 columns">
                            <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                            <br/>
                            <?php echo $aProject['comments'][$i]['member_username']; ?>
                        </div>
                        <div class="small-8 medium-10 columns">
                            <?php echo $aProject['comments'][$i]['comment']; ?>
                        </div>
                    </div>
                <?php endfor; ?>
            <?php else : ?>
                <p><?php echo $t->_('There are no comments yet'); ?></p>
            <?php endif; ?>

            <?php if ($this->session->has('member_id')) : ?>
                <?php echo Phalcon\Tag::form(array('projects/comment', 'method'=>'post')); ?>
                    <input type="hidden"
                        name="<?php echo $this->security->getTokenKey(); ?>"
                        value="<?php echo $this->security->getToken(); ?>"/>

                    <input type="hidden"
                        name="project"
                        value="<?php echo $aProject['id']; ?>"/>

                    <p>
                        <?php
                        echo $this->tag->textArea(array(
                            'comment',
                            "rows" => 5,
                            'required' => 'required'
                        ));
                        ?>
                    </p>

                    <?php echo Phalcon\Tag::submitButton(array(
                        $t->_('Comment'),
                        'class' => 'o-button js-tracking-click',
                        'data-category' => 'Janksa comments',
                        'data-action' => 'Submit',
                        'data-label' => 'Create'
                    )); ?>

                </form>
            <?php else : ?>
                <p><?php echo $t->_('You must to have an account to comment this project'); ?></p>
                <button type="button"
                    data-category="Janksa comments"
                    data-action="Click"
                    data-label="Sign button"
                    class="js-tracking-click js-button-sign o-button">
                    <?php echo $t->_('Signin') ?>
                </button>
            <?php endif; ?>
        </div>

        <div class="js-project-tab js-project-contact" style="display: none;">
            <h2><?php echo $t->_('Contact'); ?></h2>
            <?php if ($this->session->has('member_id')) : ?>
                <?php if ($aProject['member'] != $this->session->get('member_id')) : ?>
                    <a class="c-project-view-nav__button js-tracking-click"
                        data-category="Janksa contact"
                        data-action="Link"
                        data-label="messages/contact"
                        href="<?php echo $this->url->get('messages/contact?member=' . $aProject['member']); ?>">
                        <?php echo $t->_('Contact'); ?>
                    </a>
                <?php endif; ?>
            <?php else: ?>
                <p><?php echo $t->_('You must to have an account to see the contact'); ?></p>
                <button type="button"
                    data-category="Janksa contact"
                    data-action="Click"
                    data-label="Sign button"
                    class="js-tracking-click js-button-sign o-button">
                    <?php echo $t->_('Signin') ?>
                </button>
            <?php endif; ?>
        </div>
    </div>
</article>
