<p>
    <strong>Afin de vous aidez pour réaliser la meilleure présentation possible, nous vous avons mis quelques idées sur lesquels vous pouvez vous baser. N'oubliez pas d'être concis et de donner envie aux lecteurs d'en découvrir plus sur votre projet.</strong>
</p>

<h3>Genèse</h3>
<p>
    Les problèmes rencontrés, ou les idées fondatrices du projet permettent d'expliquer simplement l'objectif de celui-ci. Le lecteur peut également se reconnaitre dans l'un des problèmes et ainsi y trouver une solution à suivre. Cette introduction, focus sur l'origine et l'objectif principal du projet, permet d'obtenir l'attention des membres afin qu'ils veuillent en savoir plus.
</p>

<h3>A propos du projet</h3>
<p>
    Selon l'avancement de votre projet et de son concept, cette section sera plus ou moins longue. Accompagné d'image et répartie en sous partie, cette partie contiendra une présentation précise du projet. Être original et avoir de belles photos vous permettra de marquer les esprits et d'avoir un meilleur taux de conversion. Ci-dessous des exemples de sous-parties que vous pouvez réutiliser.
</p>
<p>
    <strong><em>Les avantages</em></strong><br>
    <strong><em>Les règles du jeu</em></strong><br>
    <strong><em>Nos actions humanitaire</em></strong><br>
    <strong><em>Planning de production</em></strong><br>
    <strong><em>Nos produits et services</em></strong>
</p>
<p>
    Il est possible de revenir sur cette section, après publication de votre projet sur Janksa, afin de la modifier et de la complêter. Nous vous recommandons d'avoir plus qu'une idée afin d'avoir un minimum de choses a présenter dans cette section.
</p>

<h3>Soutenez-nous (facultatif)</h3>
<p>
    Conclure la présentation avec quelques arguments pour donner envie de s'abonner (pour ne pas rater un concours, la date de sortie d'un produit, les prochains meeting ou actions humanitaire...). Prochainement un système de don sera mis en place sur Janksa, pour y participer il sera recommandé d'avoir un détail d'utilisation de ces fonds (hébergements des serveurs, pour payer les voyages, pour la création de prototype...)
</p>
