<h3><?php echo $t->_('Login'); ?></h3>
<?php
    echo Phalcon\Tag::form(array(
        'data-url' =>  $this->url->get('members/login'),
        'method'=>'GET',
        'onsubmit'=>'return submitForm(\'.js-form-login\', memberLoginSuccess)',
        'class' => 'js-form-login'
    ));
?>
    <input type="hidden"
        name="<?php echo $this->security->getTokenKey() ?>"
        value="<?php echo $this->security->getToken() ?>"/>

    <p>
        <?php echo $t->_('Email'); ?>
        <br />
        <?php
        echo $this->tag->textField(array(
            'email',
            'size' => 20,
            'required' => 'required'
        ));
        ?>
    </p>

    <p>
        <?php echo $t->_('Password'); ?><br />
        <?php
        echo $this->tag->passwordField(array(
            'password',
            'size' => 20,
            'required' => 'required'
        ));
        ?>
    </p>
    <?php
    echo Phalcon\Tag::submitButton(array(
        $t->_('Login'),
        'class' => 'o-button o-button--center'
    ));
    ?>

</form>

<h3><?php echo $t->_('Sign up using this form'); ?></h3>

<?php echo Phalcon\Tag::form(array(
        'data-url' =>  $this->url->get('members/register'),
        'method'=>'POST',
        'onsubmit'=>'return submitForm(\'.js-form-signin\', memberLoginSuccess)',
        'class' => 'js-form-signin'
    ));
?>

<p>
    <?php echo $t->_('Email'); ?>*
    <br />
    <?php
    echo $this->tag->emailField(array(
        'email',
        'size' => 20,
        'required' => 'required'
    ));
    ?>
</p>

<p>
    <?php echo $t->_('Username'); ?>*
    <br />
    <?php
    echo $this->tag->textField(array(
        'username',
        'size' => 20,
        'required' => 'required'
    ));
    ?>
</p>

<p>
	<?php echo $t->_('Password'); ?>*
    <br />
    <?php
    echo $this->tag->passwordField(array(
        "password",
        "size" => 20,
        "required" => "required"
    ));
    ?>
</p>

<p>
	<?php echo $t->_('Confirm password'); ?>*
    <br />
    <?php
    echo $this->tag->passwordField(array(
        'passwordConfirmation',
        'size' => 20,
        'required' => 'required'
    ));
    ?>
</p>

<input type='hidden'
	name="<?php echo $this->security->getTokenKey() ?>"
	value="<?php echo $this->security->getToken() ?>"/>

<p>
<?php
echo Phalcon\Tag::submitButton(array(
    $t->_('Register'),
    'class' => 'o-button o-button--center'
));
?>
</p>

</form>

<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>
