<!DOCTYPE html>
<html lang="<?php echo $sLanguage ?>">
    <head>

        <?php if ($_SERVER['APPLICATION_ENVIRONEMENT'] == 'production') : ?>
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WGWGFWT');</script>
            <!-- End Google Tag Manager -->
        <?php endif; ?>

        <title>Janksa</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <?php
            $sFilePath = $_SERVER['DOCUMENT_ROOT'].'/css/janksa.min.css';
            if (file_exists($sFilePath) && $_SERVER['APPLICATION_ENVIRONEMENT'] == 'production')
            {
                $cssCollection = $this->assets->collection('css');
                $cssCollection->addCss('css/janksa.min.css');
                $this->assets->outputCss('css');
            }
            else
            {
                $cssCollection = $this->assets->collection('css');
                $cssCollection->setTargetPath('css/janksa.min.css');
                $cssCollection->setTargetUri('css/janksa.min.css');

                $cssCollection->addCss('css/foundation.min.css');
                $cssCollection->addCss('css/foundation-upgrade.css');
                $cssCollection->addCss('css/element.css');
                $cssCollection->addCss('css/object.css');
                $cssCollection->addCss('css/component.css');
                $cssCollection->addCss('css/template.css');
                $cssCollection->addCss('css/redactor.css');
                $cssCollection->join(true);
                $cssCollection->addFilter(new Phalcon\Assets\Filters\Cssmin());
                $this->assets->outputCss('css');
            }
            $cssCollection = $this->assets->collection('cssNotMin');
            $cssCollection->addCss('css/font-awesome-4.7.0/css/font-awesome.min.css');
            $this->assets->outputCss('cssNotMin');
        ?>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>

    <body>
        <?php if ($_SERVER['APPLICATION_ENVIRONEMENT'] == 'production') : ?>
              <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGWGFWT"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        <?php endif; ?>

        <?php $this->partial('general/header'); ?>

        <?php $this->partial('general/nav'); ?>

        <?php $this->partial('general/alert'); ?>

        <div class="c-up js-up">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>

        <div class="c-main-content">
            <?php echo $this->getContent(); ?>
        </div>

        <?php $this->partial( 'general/footer' ); ?>

        <?php
            $sFilePath = $_SERVER['DOCUMENT_ROOT'].'/js/janksa.min.js';
            if (file_exists($sFilePath) && $_SERVER['APPLICATION_ENVIRONEMENT'] == 'production')
            {
                $jsCollection = $this->assets->collection('js');
                $jsCollection->addJs('js/janksa.min.js');
                $this->assets->outputJs('js');
            }
            else
            {
                $jsCollection = $this->assets->collection('js');
                $jsCollection->setTargetPath('js/janksa.min.js');
                $jsCollection->setTargetUri('js/janksa.min.js');

                $jsCollection->addJs('js/jquery-3.1.1.min.js');
                $jsCollection->addJs('js/foundation.min.js');
                $jsCollection->addJs('js/common.js');
                $jsCollection->addJs('js/index.js');
                $jsCollection->addJs('js/members.js');
                $jsCollection->addJs('js/projects.js');
                $jsCollection->addJs('js/articles.js');
                $jsCollection->addJs('js/redactor.js');
                $jsCollection->join(true);
                $jsCollection->addFilter(new Phalcon\Assets\Filters\Jsmin());
                $this->assets->outputJs('js');
            }
         ?>
    </body>
</html>
