<form method="post" action="<?php echo $this->url->get('articles/create'); ?>" enctype="multipart/form-data">
    <input type="hidden"
        name="<?php echo $this->security->getTokenKey(); ?>"
        value="<?php echo $this->security->getToken(); ?>"/>

    <p>
        <?php echo $t->_('Name'); ?><br />
        <?php
        echo $this->tag->textField(array(
            'name',
            'required' => 'required'
        ));
        ?>
    </p>

    <p>
        <?php echo $t->_('Description'); ?><br />
        <?php
            echo $this->tag->textArea(array(
            'description',
            'class' => 'js-editor-article',
            'rows' => 15,
            'required' => 'required'
        ));
        ?>
    </p>

    <?php echo $t->_('Image'); ?><br />
    <?php
        echo $this->tag->fileField(array(
            'picture',
        ));
    ?>

    <?php
        echo $this->tag->submitButton(array(
            $t->_('Create'),
            'class' => 'o-button js-tracking-click',
            'data-category' => 'Janksa articles',
            'data-action' => 'Submit',
            'data-label' => 'Create'
        ));
    ?>

</form>
