<form method="post" action="<?php echo $this->url->get('articles/edit'); ?>" enctype="multipart/form-data">
    <input type="hidden"
        name="<?php echo $this->security->getTokenKey(); ?>"
        value="<?php echo $this->security->getToken(); ?>"/>

    <input type="hidden" name="id" value="<?php echo $aArticle['id']; ?>"/>

    <p>
        <?php echo $t->_('Name'); ?><br />
        <?php
            echo $this->tag->textField(array(
                'name',
                'required' => 'required',
                'value' => !empty($aArticle['name']) ? $aArticle['name'] : ''
            ));
        ?>
    </p>

    <p>
        <?php echo $t->_('Description'); ?><br />
        <?php
            echo $this->tag->textArea(array(
                'description',
                'rows' => 15,
                'required' => 'required',
                'class' => 'js-editor-article',
                'value' => !empty($aArticle['description']) ? $aArticle['description'] : ''
            ));
        ?>
    </p>
    <p>
        <?php if (!empty($aArticle['picture'])) : ?>
            <?php
                echo $this->janksa_tools->getImageTag(
                    $aArticle['picture'],
                    array('w' => 1000, 'h' => 400, 'fit' => 'crop', 'auto' => 'format'),
                    array(
                        'alt' => $t->_('Main project picture')
                    )
                );
            ?>
            <input type="hidden"
                name="picture"
                value="<?php echo $aArticle['picture']; ?>"/>
        <?php endif; ?>

        <?php
            echo $this->tag->fileField(array(
                'picture',
            ));
        ?>
    </p>

    <?php
        echo $this->tag->submitButton(array(
            $t->_('Edit'),
            'class' => 'o-button js-tracking-click',
            'data-category' => 'Janksa articles',
            'data-action' => 'Submit',
            'data-label' => 'Edit'
        ));
    ?>

</form>
