<article class="row">
    <header class="c-article-view-header small-12 large-8 large-offset-2 columns">
        <h1 class="o-page-title"><?php echo $aArticle['name']; ?></h1>

        <?php if ($this->session->has('member_id') && $this->session->get('member_type') == 'admin') : ?>
            <a class="o-button js-tracking-click"
            data-category="Janksa articles"
            data-action="Link"
            data-label="articles/edit"
            href="<?php echo $this->url->get('articles/edit?id=' . $aArticle['id']); ?>">
                <?php echo $t->_('Edit'); ?>
            </a>
        <?php endif; ?>

        <?php if (!empty($aArticle['picture'])) : ?>
            <div class="c-article-view-header__image">
            <?php
                echo $this->janksa_tools->getImageTag(
                    $aArticle['picture'],
                    array('w' => 1000, 'h' => 400, 'fit' => 'crop', 'auto' => 'format'),
                    array('alt' => $t->_('Main article picture'))
                );
            ?>
            </div>
        <?php endif; ?>
    </header>

    <div class="c-article-view-body small-12 large-8 large-offset-2 columns">
        <p><?php echo $aArticle['description']; ?></p>
    </div>
</article>
