<?php for ($i = 0, $c = count($aDiscussion['messages']); $i < $c; $i++) : ?>
    <div class="row" style="padding: 10px;">
        <p class="small-4 medium-2 columns" style="text-align: center;">
            <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
            <br/>
            <?php echo $aDiscussion['messages'][$i]['username']; ?>
        </p>
        <p class="small-8 medium-10 columns"><?php echo $aDiscussion['messages'][$i]['message']; ?></p>
    </div>
<?php endfor; ?>

<?php echo Phalcon\Tag::form(array('messages/contact', 'method'=>'post')); ?>
    <input type="hidden"
        name="<?php echo $this->security->getTokenKey() ?>"
        value="<?php echo $this->security->getToken() ?>"/>

    <input type="hidden" name="discussion" value="<?php echo $aDiscussion['id']; ?>">


    <p>
        <?php echo $t->_('Your message'); ?><br />
        <?php
            echo $this->tag->textArea(array(
            'message',
            "rows" => 15,
            'required' => 'required'
        ));
        ?>
    </p>


    <?php echo Phalcon\Tag::submitButton($t->_('To send')); ?>

</form>
