<h2 class="o-page-title"><?php echo $t->_('Inbox'); ?></h2>

<?php if (!empty($aMessages)) : ?>
    <?php for ($i=0, $c = count($aMessages); $i < $c; $i++) : ?>
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <?php for ($ii=0, $cc = count($aMessages[$i]['members']); $ii < $cc; $ii++) : ?>
            <?php if ($aMessages[$i]['members'][$ii]['member'] != $this->session->get('member_id')) : ?>
                <p class="small-4 medium-2 columns" style="text-align: center;">
                    <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                    <br/>
                    <?php echo $aMessages[$i]['members'][$ii]['username']; ?>
                </p>
            <?php endif; ?>
        <?php endfor; ?>
        <a class="small-4 columns" href="<?php echo $this->url->get('messages/contact?discussion=' . $aMessages[$i]['id']); ?>">
            <?php echo $t->_('To contact'); ?>
        </a>
        </div>
    <?php endfor; ?>

<?php else: ?>
    <p><?php echo $t->_('Your inbox is empty'); ?></p>
<?php endif; ?>
